.cart {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 350px;
  height: 100vh;
  background-color: rgb(200, 198, 183);
  color:rgb(54, 50, 50);
  transition: 1s all;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

.cart .in-cart .cart-items p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;

}
.cart .in-cart .cart-items .cart-item p {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;

}
.cart .in-cart .cart-items .cart-item > p > p {
  display: flex;
  justify-content: center;
  align-items: center;

}